/*GENERAL***********************/

a {
  text-decoration: none;
  color: #5d5d5d;
}

html {
  width: 100%;
  margin: 0;
  height: 100%
}

body {
  width: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

header {
  /*width: 100%;*/
  margin: 5% 0 0 0;
}

span {
  font-size: 0.8em;
}

/*BANNER*************************/

.banner {
  width: 100%;
  display: inline-block;
  background: url(https://raw.githubusercontent.com/jeremymcintyre/jeremymcintyre.github.io/master/blog/imgs/IMG_2029.JPG) no-repeat center center fixed;
  background-size: cover;
}

/*NAVIGATION BAR********************/

nav {
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 0;
  background-color: #fff;
  background-color: rgba(249,249,249,0.95);
  position: absolute;
  bottom: 94%;
  width: 100%;
}

nav ul {
  margin: 0;
}

nav li {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

nav a {
  padding: 0 30px;
  transition: 0.2s;
}

nav a:hover {
  /*color: white;*/
  color: #444;
  font-size: 1.3em;
  transition: 0.2s;
  padding: 20px;
}

/*HEADER*************************/

header h1 {
  margin: 3% 0 3% 20%;
  width: 700px;
  font-size: 4em;
  color: #000;
}

/*BLOG TEMPLATE*************************/

article h2 {
  font-size: 2em;
  line-height: 1.3em;
}

.serif {
  font-family: 'Lora', serif;
}

article {
  max-width: 600px;
  padding: 10px;
  margin-left: 20%;
  margin-right: 5%;
  font-size: 1.0em;
  line-height: 1.7em;
  margin-bottom: 40px;
}

.serif h3 {
  font-size: 1em;
  color: #777777;
}

/*FOOTER*************************/

footer {
  display: block;
  width: 250px;
  margin: 0 auto;
  text-align: center;
}

footer img {
  float: right;
  padding: 10px;
}

footer img:hover {
  margin-top: -7px;
  transition: 0.1s, ease;
}