/*GENERAL***********************/

a {
  text-decoration: none;
  color: #5d5d5d;
}

html {
  width: 100%;
  margin: 0;
  height: 100%
}

body {
  width: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

header {
  width: 100%;
  margin: 100px 0 0 0;
}

span {
  font-size: 0.8em;
}

/*BANNER*************************/

.banner {
  width: 100%;
  display: inline-block;
  background: url(./imgs/IMG_2029.jpg) no-repeat center center fixed;
  background-size: cover;
}

/*NAVIGATION BAR********************/

nav {
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 0;
  background-color: #fff;
  background-color: rgba(249,249,249,0.95);
}


nav li {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

nav li:hover {
  background-color: purple;
}

nav a {
  padding: 0 30px;
}

nav a:hover {
  color: white;
}

/*HEADER*************************/

header h1 {
  margin-left: 20%;
  width: 700px;
  font-size: 4em;
}

/*BLOG TEMPLATE*************************/

article h2 {
  font-size: 2em;
}

.serif {
  font-family: 'Lora', serif;
}

article {
  max-width: 600px;
  padding: 10px;
  margin-left: 20%;
  margin-right: 5%;
  font-size: 1em;
  line-height: 1.7em;
}

footer {
  width: 100%;
  text-align: center;
}