/*General*****************/

a {
  text-decoration: none;
  color: #fff;
}

html {
  width: 100%;
  margin: 0;
  height: 100%;
}

body {
  width: 100%;
  margin: 0;
  height: 100%;
  font-family: Lato;
}

/*NAVIGATION BAR********************/

nav {
  font-size: 1.5em;
  text-align: center;
  background-color: transparent;
  position: absolute;
  bottom: 90%;
  width: 100%;
  z-index: 30;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: -3px;
  padding: 0;
}

nav a {
  margin: 0;
  padding: 0 30px;
  transition: 0.2s;
}

nav a:hover {
  /*color: #FF9d54;*/
  color: #FFa955;
  font-size: 1.3em;
  transition: 0.2s;
  padding: 20px;
}

/*HEADER*****************************/

header {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 800px;
  background: #131313;
  background: url(../projects/imgs/fountain-small.jpg) no-repeat top center;
  background-size: cover;
  overflow: hidden;
  display: inline-block;
}

#centermain {
  max-width: 570px;
  margin: 200px auto;
  z-index: 30;
  color: #000;
  background-color: #fff;
  background-color: rgba(240,240,240,0.88);
  padding: 0 15px 10px 15px;
  font-size: 1.2em;
  border: 6px solid #330023;;
}

#centermain h1 {
  font-size: 2em;
  color: #330023;
  text-align: center;
}

#centermain p:first-child {
  margin: 0 30px;
}

#centermain a {
  color: purple;
}

p span {
  color: #330023;
}

.social a {
  padding: 5px;
  vertical-align: top;
  margin: 0 10px;
}