/*General*****************/

a {
  text-decoration: none;
  color: #fff;
}

html {
  width: 100%;
  margin: 0;
  height: 100%;
}

body {
  width: 100%;
  margin: 0;
  height: 1000px;
  font-family: Lato;
}

/*NAVIGATION BAR********************/

nav {
  font-size: 1.5em;
  text-align: center;
  background-color: transparent;
  position: absolute;
  bottom: 90%;
  width: 100%;
  z-index: 30;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: -3px;
  padding: 0;
}

nav a {
  margin: 0;
  padding: 0 30px;
  transition: 0.2s;
}

nav a:hover {
  color: #FFa955;
  font-size: 1.3em;
  transition: 0.2s;
  padding: 20px;
}

/*HEADER*****************************/

header {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 800px;
  background: #131313;
  background-size: cover;
  overflow: hidden;
  display: inline-block;
}

#centermain {
  width: 700px;
  height: 780px;
  margin: 150px auto;
  text-align: center;
  color: #000;
  background-color: #fff;
  background-color: rgba(240,240,240,0.88);
  padding: 0 15px 10px 15px;
  font-size: 1em;
}

#centermain h1 {
  font-size: 1.6em;
  color: #330023;
  padding-top: 15px;
}

#centermain p {
  text-align: left;
}

#gamewindow {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: #5d8735;
}

.icon {
  position: absolute;
  width: 75px;
  height: 75px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#ragnarsHawk {
  right: 0;
  bottom: 0;
  z-index: 1;
}

#ragnar {
  right: 0;
  bottom: 0;
  z-index: 0;
}

#basket {
  right: 525px;
  bottom: 525px;
}

#rabbit1 {
  right: 150px;
  bottom: 450px;
}

#rabbit2 {
  right: 450px;
  bottom: 150px;
}

#rabbit3 {
  right: 225px;
  bottom: 150px;
}


p span {
  color: #330023;
}

.social {
  margin-top: 10px;
}

.social a {
  padding: 5px;
  margin: 0 5px;
}