

.ruby {
  background-color: #ff9051;
  line-height: 1.5em;
  white-space: pre-wrap;
}

.ruby code {
  color: #2d2c31;
  font-size: 1.05em;
  background-color: #ff9051;
  padding: 0 4px;
}


.js {
  background-color: #fea638;
  line-height: 1.5em;
  white-space: pre-wrap;
}

.js code {
  color: #2d2c31;
  font-size: 1.05em;
  background-color: #fea638;
  padding: 0 4px;
}
