span {
  font-style: italic;
  font-size: 1em;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
}

table {
  font-family: Lato;
  line-height: 1em;
  text-align: center;
}

th {
  background-color: #ddd;
}

tr {
  background-color: #ff9051;
}

tr:nth-child(2n) {
  background-color: #fea638;
}

td, th {
  height: 3em;
  padding: 5px 10px;
}

#infra td:nth-child(2) {
  background-color: white;
}

#infra tr {
  background-color: #35caff;
}

#infra tr:nth-child(2n) {
  background-color: #06ff00;
}

blockquote {
  background-color: #c4ffac;
  padding: 20px;
  font-size: 0.9em;
  box-shadow: 7px 7px 15px #999;
}